<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Form Submission</title>
    <style>
      body {
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        padding: 28px;
      }

      .header {
        text-align: center;
        color: #000;
        background-color: #fdc02f;
        font-size: 24px;
        font-weight: 500;
      }

      .content-heading {
        width: 100%;
        text-align: left;
        font-size: 20px;
        margin-top: 24px;
      }

      .content-heading-divider {
        border: 2px solid #fdc02f;
      }

      .submission-data {
        width:100%;
      }

      .content {
        width: 100%;
        text-align: center;
      }

      td {
        font-family: sans-serif;
        font-size: 14px;
        vertical-align: top;
        padding-top: 18px;
        text-align: left;
      }

      .td-title {
        width: 35%;
      }

      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */

      .body {
        width: 100%;
      }

      .footer {
        margin-top: 42px;
      }

      .header-image {
        height: 50px;
        margin-bottom: 16px;
      }

    </style>
  </head>
  <body>
    <div class="header">
      PDF HEADING
    </div>
    <hr class="content-heading-divider" />
    <div class="content">
      <table class="submission-data">
        <tr>
          <td class="td-title"><b>fieldName1 label: </b></td>
          <td>
            {{ fieldName1 }}
          </td>
        </tr>
        <tr>
          <td class="td-title"><b>fieldName2 label: </b></td>
          <td>
            {{ fieldName2 }}
          </td>
        </tr>
        <tr>
          <td class="td-title"><b>fieldName3 label: </b></td>
          <td>
            {{ fieldName3 }}
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
